<div class="container curve">
  <div class="row my-3">
    <div class="col-6">
      <img src="assets/public/world.gif" alt="Placeholder Image" class="img-fluid">
    </div>
    <div class="col-6 my-3 d-flex flex-column justify-content-center align-center animated-sec">
        <h3 class="text-center text-primary fw-bold">Budget Assistant</h3>
        <p class="text-center">Prévoyez le montant d'argent que vous allez dépenser dans les prochaines minutes et les articles que vous êtes susceptible d'acheter avec notre application ! Notre application utilise des algorithmes de pointe pour analyser vos habitudes de dépenses et vos données de localisation pour vous donner des estimations précises. Vous pouvez également utiliser notre application pour créer un budget et suivre vos dépenses en temps réel.</p>
    </div>
  </div>
</div>
<div class="container curve">
  <div class="row my-3">
    <div class="col-6 my-3 d-flex flex-column justify-content-center align-center animated-section">
      <h3 class="text-center text-primary fw-bold">Prediction App</h3>
      <ul class="list-group">
        <li class="list-group-item my-3">
          <strong>Budget prediction</strong>: Our app uses machine learning algorithms to predict your budget and the items you are likely to buy. This can help you stay on track with your finances and avoid overspending.
        </li>
        <li class="list-group-item">
          <strong>Purchase planning</strong>: Our app can help you plan your purchases in advance. This can help you avoid impulse buys and make sure you are spending your money wisely.
        </li>
        <li class="list-group-item my-3">
          <strong>Spending tracking</strong>: Our app can track your spending so you can see where your money is going. This can help you identify areas where you can cut back on your spending.
        </li>
        <li class="list-group-item">
          <strong>Personal finance assistance</strong>: Our app can provide you with personal finance assistance, such as tips on how to save money and how to create a budget.
        </li>
      </ul>
    </div>
    <div class="col-6 animated-section">
      <img src="assets/public/stats-public.png" alt="Placeholder Image" class="img-fluid">
    </div>
  </div>
</div>