<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://via.placeholder.com/300x200" alt="Placeholder Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2>Some Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, quam vel cursus rhoncus, risus ligula ultricies massa, ac laoreet nunc velit non sapien. Sed vel lacinia elit. Nunc euismod orci sed ipsum accumsan, a faucibus ipsum bibendum. Nullam non blandit risus. Nulla facilisi. Mauris at dapibus orci.</p>
      </div>
    </div>
  </div>