@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animated-sec {
    animation: slideInRight 1s ease;
  }



  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-section {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  .animated-section:nth-child(odd) {
    animation-delay: 0.2s;
  }
  
  .animated-section:nth-child(even) {
    animation-delay: 0.4s;
  }

  .sec-1 {
    border: 0.5px solid aliceblue;
    border-radius: 17px;
    
  }

  .bg-change {
    font-size: 23px;
    border-radius: 17px;
    padding: 7px;
  }

  img {
    background-color: white;
    border-radius: 17px;

  }


  h3{
    font-size : 43px;
    color : #ee0959;
    font-weight: 700;

  }

  .about {
    border:1px solid aliceblue ;
    border-radius: 17px;
    font-size: 23px;
    margin-top: 7px;
    padding: 7px;
  }

  .list-group-item {
    font-size: 19px;
    border : 1px solid aliceblue;
    border-radius: 17px;
  }

  strong {
    background: linear-gradient(to right, #006eff, #ee0959);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size : 23px;
  }



  @keyframes popUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


  .btn-animated {
    background-color: #ee0959;
    border-radius: 13px;
    color: white;
    font-size: 23px;
    padding: 7px;
    margin-top: 7px;
    border: 1px solid aliceblue;
    animation: popUp 1s infinite;
  }

  .list-group-item {
    border : 1px solid aliceblue;
    background-color: aliceblue;
  }
  