<form [formGroup]="userForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" formControlName="first_name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" formControlName="last_name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="path_photo">Path Photo</label>
      <input type="text" formControlName="path_photo" class="form-control" />
    </div>
    <div class="form-group">
      <label for="month_budget">Month Budget</label>
      <input type="number" formControlName="month_budget" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  