<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIS LIST </title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h3>APIS LIST</h3>
    <ul class="url-list">
        <li><a href="/admin/">admin/</a></li>
        <li><a href="/add-item/">add-item/</a></li>
        <li><a href="/update-item/<int:pk>/">update-item/&lt;int:pk&gt;/</a></li>
        <li><a href="/delete-item/<int:pk>/">delete-item/&lt;int:pk&gt;/</a></li>
        <li><a href="/get-item/">get-item/</a></li>
        <li><a href="/add-cart/">add-cart/</a></li>
        <li><a href="/get-cart/">get-cart/</a></li>
        <li><a href="/delete-item/<int:pk>/">delete-item/&lt;int:pk&gt;/</a></li>
        <li><a href="/register/" name="user-registration">register/</a></li>
        <li><a href="/login/" name="token-obtain-pair">login/</a></li>
        <li><a href="/auth/refresh/" name="token-refresh">auth/refresh/</a></li>
        <li><a href="/GetUser/<int:pk>/">GetUser/&lt;int:pk&gt;/</a></li>
        <li><a href="/DeleteUser/<int:pk>/">DeleteUser/&lt;int:pk&gt;/</a></li>
        <li><a href="/updateuser/<int:pk>/">updateuser/&lt;int:pk&gt;/</a></li>
        <li><a href="/userinfo/<int:pk>/" name="user-info">userinfo/&lt;int:pk&gt;/</a></li>
        <li><a href="/predict-items/" name="PredictItems">predict-items/</a></li>
        <li><a href="/predict-budget/" name="PredictBudget">predict-budget/</a></li>
        <li><a href="/list-item/" name="list-item">list-item/</a></li>
        <li><a href="/list-item-categorie/" name="list-item-categorie">list-item-categorie/</a></li>
        <li><a href="/add-purchase/">add-purchase/</a></li>
        <li><a href="/list-purchase/">list-purchase/</a></li>
        <li><a href="/list-month-purchase/">list-month-purchase/</a></li>
        <li><a href="/list-data/">list-data/</a></li>
        <li><a href="/save-new-form/">save-new-form/</a></li>
        <li><a href="/get-new-form/">get-new-form/</a></li>
        <li><a href="/get-objectives/">get-objectives/</a></li>
        <li><a href="/get-last-months-objectives/">get-last-months-objectives/</a></li>
      </ul>
</body>
</html>