<nav class="navbar navbar-expand-lg navbar-light bg-light shadow ">
  <div class="container">
    <a class="navbar-brand" href=""><img
      class="img-fluid img-thumbnail"
      src="/assets/public/wallet.png"
      width="60"
      height="40"
      href="/homeBudget/budgets"
      alt="budget predictor"
      srcset=""
    /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="text-color nav-link dropdown-toggle"
            id="poles_doctorales"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            routerLink="/budgetHome/budgets"
          >
            <span class="display-15">
              <img *ngIf="show_loading" class="img-fluid img-thumbnail" src="/assets/animations/auth-loading.gif" width="70" height="70" alt="" srcset="">
              <img *ngIf="!show_loading"  class="img-fluid img-thumbnail" [src]="photoPath" width="70" height="70" alt="" srcset="">
            </span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="budget">
            <div>
              <ul class="list-group ">
                  <li class="list-group-item text-primary ">
                    {{user?.first_name}} {{user?.last_name}}
                  </li>
              
              </ul>
            </div>
            <li>
              <a class="dropdown-item text-coloring  fs-bold " routerLink="/budgetHome/budgets"
                ><i class="bi bi-house"></i> Accueil</a
              >
            </li>
            <li>
              <a class="dropdown-item text-coloring  fs-bold" [class.disabled]="!has_config" routerLink="/budgetHome/mySpace"
                ><i class="bi bi-person-vcard-fill"></i> Mon Espace</a
              >
            </li>
            <li>
              <a class="dropdown-item text-coloring  fs-bold" routerLink="/budgetHome/profile"
                ><i class="bi bi-person bg-sucess"></i> Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item text-coloring fs-bold" routerLink="/budgetHome/cart"
                ><i class="bi bi-cart-fill"></i> Panier</a
              >
            </li>
            <li>
              <a class="dropdown-item text-coloring  fs-bold " [class.disabled]="!has_config"  routerLink="/budgetHome/myPurchases"
                ><i class="bi bi-cash-coin"></i> Achats</a
              >
            </li>
            <li>
             <a class="dropdown-item text-coloring fs-bold" [class.disabled]="!has_config" [routerLink]="!has_config ? null : '/budgetHome/stats'">
              <i class="bi bi-bar-chart-line"></i> Statistiques
</a>
            </li>
            <li>
              <a class="dropdown-item text-coloring  fs-bold" routerLink="/budgetHome/objectives"
                ><i class="bi bi-list-stars"></i> Objectives</a
              >
            </li>
            <li>
            
              <a (click)="onLogout()" class="dropdown-item text-darkblue" href=""
                >se déconnecter</a
              >
            </li>

          </ul>
        </li>
           
      </ul>
    </div>
  </div>


</nav>
<div class="container-fluid row w-100">
  <div class="card my-3 col col-3 mx-3">
    <div class="card-content">
      <h2 class="card-title border border-bottom border-1 p-1 text-center">{{actual_month}} </h2>
      <p class="card-text">Budget :{{actual_budget}} {{currency}}</p>
      <p class="card-text">Spendings :{{spendings}} {{currency}}</p>
      <p class="card-text">Savings :{{savings}} {{currency}}</p>

    </div>
  </div>
  <div class="card my-3 col col-5">
    <div class="card-content">
      <h2 class="card-title p-2 text-center"><i class="bi bi-heart-fill"></i> Categories</h2>
      <h4 class="card-text p-2 border rounded bg-light text-center fs-bold text-black" *ngFor="let x of most_bought_categories"><i class="bi bi-heart text-danger"></i> {{x}}</h4>

    </div>
  </div>
</div>

