<header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="https://www.w3schools.com/bootstrap/img/bootstrap-logo.png" alt="Bootstrap logo" class="img-fluid">
        </div>
        <div class="col-md-9">
          <div class="d-flex justify-content-end">
            <img src="https://www.gravatar.com/avatar/200?d=mm" alt="Profile icon" class="rounded-circle mr-3">
            <a href="/logout" class="btn btn-danger">Disconnect</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  