<nav class="navbar navbar-expand-lg navbar-light bg-light shadow ">
  <div class="container">
    <a class="navbar-brand" href=""><img
      class="img-fluid img-thumbnail"
      src="/assets/images/core-logo.png"
      width="180"
      height="40"
      alt="budget predictor"
      srcset=""
    /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="text-color nav-link dropdown-toggle"
            href="#ced"
            id="poles_doctorales"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="display-15">
              <img  class="img-fluid img-thumbnail" [src]="photoPath" width="70" height="70" alt="" srcset="">
            </span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="budget">
            <div>
              <ul class="list-group">
                  <li class="list-group-item text-primary">
                    {{user?.first_name}} {{user?.last_name}}
                  </li>
                  <li class="list-group-item text-primary fs-4 fs-boldctext-center">
                   {{user?.month_budget}} <i class="bi bi-wallet2 "></i>
                  </li>
              </ul>
            </div>
            <li>
              <a class="dropdown-item text-primary" routerLink="/budgethome/budgets"
                ><i class="bi bi-house"></i> Home</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" routerLink="/budgethome/stats"
                >My SPACE</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary text-md" routerLink="/budgetHome/cart"
                ><i class="bi bi-cart-fill"></i> CART</a
              >
            </li>
            <li>
              <a (click)="onLogout()" class="dropdown-item text-darkblue" href=""
                >se déconnecter</a
              >
            </li>
          </ul>
        </li>
        
        
      
          
      </ul>
    </div>
  </div>


</nav>
<div class="container-fluid">
<img class="img img-responsive"  src="assets/images/coe-animation.gif" alt="">
</div>
