<div class="container-fluid w-50">

<h1 class="text-center mt-3 text-primary fs-2"> <i class="bi bi-person-bounding-box"></i> Inscription</h1>

<form (ngSubmit)="signup()" class="">
  <div class="form-group mt-3 my-3">
    <input type="text" class="form-control fs-4" [(ngModel)]="username" name="username" placeholder="Username">
    <div *ngIf="usernameError" class="text-danger">
      {{ usernameError }}
    </div>
  </div>
  <div class="form-group mt-3">
    <input type="email" class="form-control fs-4" [(ngModel)]="email" name="email" placeholder="Email">
    <div *ngIf="emailError" class="text-danger">
      {{ emailError }}
    </div>
  </div>
  <div class="form-group mt-3 my-3">
    <input type="password" class="form-control fs-4" [(ngModel)]="password" name="password" placeholder="Password">
    <div *ngIf="passwordError" class="text-danger">
      {{ passwordError }}
    </div>
  </div>
  <div class="form-group mt-3">
    <input type="text" class="form-control fs-4" [(ngModel)]="firstName" name="firstname" placeholder="First Name">
    <div *ngIf="firstNameError" class="text-danger">
      {{ firstNameError }}
    </div>
  </div>
  <div class="form-group mt-3 my-3">
    <input type="text" class="form-control fs-4" [(ngModel)]="lastName" name="lastName" placeholder="Last Name">
    <div *ngIf="lastNameError" class="text-danger">
      {{ lastNameError }}
      </div>
    </div>

  <button [disabled]="this.username === '' || this.email === '' || this.password === '' || this.firstName === '' || this.lastName === ''" type="submit" class="btn btn-primary mt-3 my-3 fs-4"><i class="bi bi-box-arrow-in-right"></i> se connecter</button>
</form>
</div>  