<div class="container-fluid w-50">

<h1 class="text-center mt-3 text-primary">Inscription</h1>

<form (ngSubmit)="signup()">
  <div class="form-group mt-3 my-3">
    <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
  </div>
  <div class="form-group mt-3">
    <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
  </div>
  <div class="form-group mt-3 my-3">
    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
  </div>
  <div class="form-group mt-3">
    <input type="text" class="form-control" [(ngModel)]="firstName" name="firstname" placeholder="First Name">
  </div>
  <div class="form-group mt-3 my-3">
    <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" placeholder="Last Name">
  </div>
  <button type="submit" class="btn btn-primary mt-3 my-3">Sign Up</button>
</form>
</div>  