<section class="vh-100 ">


  <div  class="container py-5 h-100">
    <div class="animated-login row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img *ngIf="!showLoading" src="assets/images/login.svg"
          class="img-fluid" alt="Phone image">
          <img *ngIf="showLoading" src="assets/animations/auth-loading.gif" alt="loading" width="400" height="400">

      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1 class="text-center text-primary"><i class="bi bi-person-lock "></i>Se Connecter</h1>

        <form (ngSubmit)="login()">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
            <div *ngIf="usernameError" class="text-danger">
              {{ usernameError }}
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="password" class="form-control" [(ngModel)]="password"  name="password" placeholder="Password">
            <div *ngIf="passwordError" class="text-danger">
              {{ passwordError }}
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary mt-3" [disabled]="username === '' || password === ''">Login
          
          </button>
        </form>
        
      </div>
    </div>
  </div>
</section>
