<div *ngIf="show_loading" class="container-fluid">
    <div class="list-group my-5 row">
      <div class="col col-5">
        <div class="card-container">
          <div *ngFor="let y of my_purchases" class="card">
            <img class="card-img-top" [src]="y.budgetphoto" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{y.LIBACTGE}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="w-100 container-fluid">
  <img class="img img-responsive text-center "  src = "assets/animations/loading-core.gif" *ngIf="show_loading" alt="loading" width="400" height="400"></div>