<div class="container-fluid mt-3">
  <div class="row mb-3">
    <div class="col-6 m-start">
      <button
        class="btn btn-primary btn-sm"
        type="button"
        (click)="open(mymodal)"
      >
        <i class="bi bi-plus-square-dotted"></i>
        ajouter un item de budget
      </button>
    </div>
  </div>
    <h3 class="text-primary">Liste des items</h3>
    <div class="row">
      <div class="col-3" *ngFor="let budget of budgets">
        <div class="card mb-3" style="width: 18rem;">
          <img class="card-img-top" width="300" height="250" [src]="budget?.budgetphoto" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ budget.LIBACTGE }}</h5>
            <p class="card-text">
              <span class="text-primary">Montant depensé : </span>
              {{ budget.MONTSTRU }}
              <br />
              <span class="text-primary">Montant rapporté : </span>
              {{ budget.MONTRAPP }}
              <br />
              <span class="text-primary">Mois achat : </span>
              {{ budget.MOISSOLD }}
              <br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
            <a href="#" class="btn btn-primary mx-3">modifier</a>
            <a href="#" class="btn btn-danger">delete</a>
            <a href="#" class="btn btn-success" (click)="predictBudget(budget)" >prédict budget de l'item</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<ng-template
class="modal fade"
tabindex="-1"
role="dialog"
#mymodal
let-modal
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered w-100" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">l'ajout d'un item</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="onClickSubmit()">
        <div class="form-group mb-3">
          <label for="my-textarea" class="mb-3">LIBELLE </label>
          <textarea
            maxlength="512"
            placeholder="Max. 512 caractères"
            id="my-textarea"
            class="form-control"
            name=""
            rows="3"
            formControlName="LIBACTGE"
          ></textarea>
     
        </div>

        <div class="form-group mb-3">
          <label for="my-textarea" class="mb-3 text-primary fs-bold">Montant depensé </label>
    
          <input type="number" name="" id="" 
          placeholder=""
          class="form-control"
          formControlName="MONTSTRU"

          >

        </div>

        <div class="form-group mb-3">
          <label for="my-textarea" class="mb-3 text-primary">Montant rapporté </label>
          <input type="number" name="" id="" 
          placeholder=""
          class="form-control"
          formControlName="MONTRAPP"
          >
        </div>

        <div class="form-group mb-3">
          <label for="my-textarea" class="mb-3 text-primary">Mois achat </label>
          <input type="date" name="" id="" 
          placeholder=""
          class="form-control"
          formControlName="MOISSOLD"
          >
        </div>

        <div class="form-group mb-3">
          <label for="my-textarea" class="mb-3 text-primary">Type d'item  </label>
          <select
          formControlName="CODYTPAC"
          class="form-control form-control-sm"
         
        >
          <option 
            [value]="m.value"
            *ngFor="let m of itemsType"
          >
            {{ m.value }}
          </option>
        </select>
        </div>

        <div class="form-group mb-3">
          <label for="my-textarea" class="mb-3">Budgets</label>
          <input type="number" name=""
           id=""
           formControlName="Budgets"
            class="form-control"
           >
        </div>

        <div class="form-group mb-3">
          <label for="my-inputGroupFile01" class="mb-3 text-primary">Budget photo </label>
          <input type="file" name="" id="inputGroupFile01" 
          placeholder=""
          class="form-control"
          formControlName="budgetphoto"
          (change)="onFileSelected($event)"
          >
        </div>

     
        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="modal.dismiss('Cross click')"
            type="button"
          >
            annuler
          </button>
          <button
            class="btn btn-primary btn-confirmer"
            type="submit"
            (click)="modal.close('Save click')"
            [disabled]="form.invalid"
          >
            confirmer
          </button>
        </div>
      </form>
    </div>
  </div>
</div> 

