<div class="container-fluid mt-3">

  <div *ngIf="!showLoading">
  <div class="row mb-3">
    <div class="col-6">
      <button class="btn btn-primary btn-lg" type="button" (click)="open(mymodal)">
        <i class="bi bi-plus-square-dotted"></i>
        Add to Cart
      </button>
      <button class="btn btn-primary btn-lg mx-3" type="button" (click)="toggleFilter()">
        <i class="bi bi-funnel"></i>
        Filter
      </button>
      <input type="text" class="form-control my-2" [(ngModel)]="searchText" placeholder="Enter your search query" (input)="performSearch()">
    </div>

    <div class="col-6 text-end">
      <small class="btn btn-outline-primary mx-3">{{current_number}}</small>

      <button class="btn btn-primary btn-lg" type="button" (click)="nextPage()">
        <i class="bi bi-arrow-right-square"></i>
        Next page
      </button>
    </div>
  </div>

  <div class="row my-3 mx-3"  *ngIf="showFilter">
    <div class="col">
      <div class="btn-group row">
        <div class=" mx-3 col col-2 my-3" *ngFor="let category of categories" (click)="filterItems(category)">
          <button (click)="getItemsByCategorie(category)" class="btn-item btn">
            <i class="bi bi-tags-fill text-white"></i> {{ category }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

  <img src = "assets/animations/items.gif" *ngIf="showLoading" alt="loading" width="300" height="300">

  
  <div *ngIf="!showLoading" class="row">
    
    <div class="col-12">
      <div class="alert alert-success" role="alert" *ngIf="itemsFound">
        {{ itemsError }}
      </div>
    </div>

    <h3 class="text-primary">Liste des items</h3>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let budget of budgets ">
      <div class="card mb-3 shadow">
        <img class="card-img-top" [src]="budget?.budgetphoto" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ budget.LIBACTGE }}</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="text-primary">Catégorie: </span>
              {{ budget.categorie }}
            </li>
            <li class="list-group-item">
              <span class="text-primary">Prix: </span>
              {{ budget.MONTSTRU }} $
            </li>
          </ul>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <a href="#" class="btn btn-primary" (click)="fun(mymodal, budget)"><i class="bi bi-pencil-square"></i></a>
          <a href="#" class="btn btn-danger" (click)="onDelete(budget.IDEIMPST)"><i class="bi bi-file-x-fill"></i></a>
          <button class="btn btn-success" (click)="addToCart(budget)"><i class="bi bi-cart-plus"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template class="modal fade" tabindex="-1" role="dialog" #mymodal let-modal aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Item INFOS</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onClickSubmit()" class="container">
          <div class="form-group my-3">
            <label for="LIBACTGE">Label - Description</label>
            <input id="LIBACTGE" type="text" formControlName="LIBACTGE" class="my-3 form-control">
          </div>

          <div class="form-group my-3">
            <label for="CODYTPAC">CODYTPAC</label>
            <input id="CODYTPAC" type="text" formControlName="CODYTPAC" class="my-3 form-control" placeholder="codtypac">
          </div>

          <div class="form-group my-3">
            <label for="inputGroupFile01">Item Picture</label>
            <input id="inputGroupFile01" type="file" (change)="onFileSelected($event)" formControlName="budgetphoto"
              class="form-control">
          </div>

          <div class="form-group my-3">
            <label for="categorie">Categorie</label>
            <select id="categorie" formControlName="categorie" class="form-control">
              <option *ngFor="let c of categories" [value]="c">{{c}}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>