<div class="container-fluid row border shadow text-primary">

    <div class="col col-5">

        <h3 class="text-center p-3">
            Next month Predicted Items
        </h3>

        <ul class="list-group">

            <li class="list-group-item">

            </li>

        </ul>

    </div>

    <div class="col col-5">
            
            <h3 class="text-center p-3">
                Next month Predicted Budget 
            </h3>

            <ul class="list-group">

                <li class="list-group-item">

                </li>

            </ul>

    </div>


</div>