<div class="container-fluid row border shadow text-primary my-3">

    <div class="col col-6 my-3">

        <h3 class="text-center p-3">
            Items you might like
        </h3>

        <ul class="list-group">

            <li class="list-group-item">

            </li>

        </ul>

    </div>

    <div class="col col-6 my-3">
            
            <h3 class="text-center p-3">
                My Wallet
            </h3>

            <ul class="list-group">

                <li class="list-group-item">
                   Next month budget : {{forecast_budget}}
                </li>

                <li class="list-group-item">
                   Next month dépenses : {{forecast_expenses}}
                </li>


                <li class="list-group-item">
                   Next month savings : {{forecast_savings}}
                </li>

            </ul>

    </div>


</div>