*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
    scroll-behavior:    smooth;
    
}

@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap-icons/font/bootstrap-icons.css';

/***

Anouar Bakouch 

***/

.text-color {
    color: rgb(5, 199, 86);
}