<nav class="navbar navbar-expand-lg navbar-light bg-light shadow animated-header ">
  <div class="container">
    <a class="navbar-brand" href=""><img
      class="img-fluid img-thumbnail"
      src="/assets/images/Budget_logo.png"
      width="180"
      height="40"
      alt="budget predictor"
      srcset=""
    /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="text-color nav-link dropdown-toggle"
            href="#ced"
            id="poles_doctorales"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="display-15">Budget Assistant</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="poles_doctorales">
            <li>
              <a class="dropdown-item text-color" routerLink="/home/description"
                >Description</a
              >
            </li>
          </ul>
        </li>
        
      
        <li class="nav-item">
            
          <a
            class="nav-link text-color fw-bold"
            routerLink="/home/connexion"
          >Se Connecter
         </a>
        </li>

          
      </ul>
    </div>
  </div>
</nav>