<div class="container bg-white w-80 m-auto border rounded panier">
  <div class="row m-auto">
    <h2 class="col-5 mx-3 my-2 fs-1 text-title border-bottom border rounded text-center">
      <i class="bi bi-cart"></i> Panier
    </h2>
    <h2 class="col-5 my-2 fs-1 text-center text-error border rounded border-red" *ngIf="showMessage">
      est vide
    </h2>
  </div>

  <div class="my-5 row">
    <div *ngFor="let x of itemsCart" class="col-4 ">
      <div class="bg-light shadow list-group-item list-group-item-action flex-column align-items-center my-3 border rounded">
        <div class="my-2 d-flex justify-content-center align-items-center">
  
          <img class="img img-responsive rounded shadow" [src]="x.budgetphoto" width="170" height="170" alt="">
        </div>
        <ul class="list-group fs-4 fs-bold">
          <h5 class="mb-1 fs-4 fs-bold text-title text-center border rounded">{{x.LIBACTGE}}</h5>
          <li class="rounded list-group-item my-2">Catégorie: {{x.categorie}}</li>
          <li class="rounded list-group-item my-2"><span class="text-primary fs-bold">{{x.MONTSTRU}} {{currency}}</span></li>
        </ul>
  
        <button class="btn my-2 btn-custom text-white mx-3" (click)="open(mymodal, x)"><i class="bi bi-check-circle-fill"></i></button>
        <button class="btn btn-outline-danger" (click)="OnDelete(x.IDEIMPST)"><i class="bi bi-x-circle"></i></button>
      </div>
    </div>
  </div>
</div>


<ng-template class="modal fade" tabindex="-1" role="dialog" #mymodal let-modal aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-title" id="exampleModalLongTitle">Informations de l'achat</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form_" (ngSubmit)="onClickSubmit()" class="container">
          <img class="m-auto border-primary img img-responsive my-3 shadow" [src]="item_?.budgetphoto" width="200" height="200" alt="">
          <p class="fs-bold text-title text-center text-primary">{{item_?.LIBACTGE}}</p>
          <div class="form-group my-3" *ngIf="!true">
            <label for="item">Item Id</label>
            <input id="item" type="text" readonly formControlName="item_id" class="my-3 form-control">
          </div>

          <div class="form-group my-3">
            <label for="Budget">Prix</label>
            <input readonly id="Budget" type="text" [value]="incrementPrice()" formControlName="Budget" class="my-3 form-control">
          </div>

          <div class="form-group my-3">
            <label for="MOISSOLD">Mois d'achat</label>
            <input id="MOISSOLD" readonly type="date" formControlName="MOISSOLD" class="my-3 form-control">
          </div>
    
          <div class="form-group my-3">
            <label for="quantite">Quantite</label>
            <input min="1" max="7" id="quantite" type="number" formControlName="quantity" class="my-3 form-control">
          </div>
    
          <button type="submit" [disabled]="form_.invalid" class="btn btn-primary"><i class="bi bi-check-circle-fill"></i></button>
        </form>
      </div>
    </div>
  </div>
</ng-template>