<div class="row container-fluid">


  <form  class="col-4 m-auto"  [formGroup]="form" (ngSubmit)="submitForm()">
   <h3 class="bg-success p-3 text-light" >Actual Month Budget</h3>
    <div class="form-group fs-4">
      <label for="budget">Budget</label>
      <input type="number" class="form-control" id="budget" formControlName="budget">
    </div>
    <div class="form-group fs-4 my-3">
      <label for="month">Month</label>
      <input type="date" class="form-control" id="month" formControlName="month">
    </div>
    <button type="submit" class="btn btn-success mx-3">submit</button>
    <button class="btn btn-primary" (click)="open(mymodal)">update</button>
  </form>

  <ng-template class="modal w-80 fade" tabindex="-1" role="dialog" #mymodal let-modal aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Budget INFOS</h5>
        </div>
       
        <form  class="col-4 m-auto"  [formGroup]="form_" (ngSubmit)="updateForm()">
           <div class="form-group fs-4">
             <label for="budget">Budget</label>
             <input type="number" class="form-control" id="budget" formControlName="budget">
           </div>
           <div class="form-group fs-4 my-3">
             <label for="month">Month</label>
             <input readonly type="text" class="form-control" id="month" formControlName="month">
           </div>
           <button type="submit" class="btn btn-primary">submit</button>
         </form>

      </div>
    </div>
  </ng-template>
  


  <form *ngIf="displayForm" class="col-4 m-auto"  [formGroup]="form" (ngSubmit)="saveForm()">
      <div class="form-group fs-4">
        <label for="budget">Budget</label>
        <input type="number" class="form-control" id="budget" formControlName="budget">
      </div>
      <div class="form-group fs-4 my-3">
        <label for="month">Month</label>
        <input readonly type="text" class="form-control" id="month" formControlName="month">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="col col-4" *ngIf="!displayForm">

      <div class="list-group my-5 row">
        <div class="col col-8">
          <div class="card-container">
            <h3 class="text-primary ">Previous budgets</h3>
            <div *ngFor="let y of lastMonths" class="card my-2">
              <div class="card-body">
                <h5 class="card-title"><span class="text-primary">Month</span> {{y.month}}</h5>
                <p class="card-text">Budget: {{y.budget}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>